html,
body {
  margin: 0px;
}

body {
  background-color: lightgray;
}

#main {
  position: relative;
  margin: 50px auto;
  padding: 5px;
  width: 360px;
  height: 660px;
  background-color: lightblue;
  border: 5px solid blue;
  border-radius: 15px;
}

span {
  color: blue;
}

#photo {
  margin: 20px auto;
  width: 320px;
  height: 600px;
  margin-top: 20px;
  background-color: white;
  background-size: cover;
  border: 2px solid darkorchid;
  border-radius: 10px;
}